.faqs {
    padding: 10rem 0;
}

.panels {
    max-width: 80rem;
}

.panel {
    padding: 1.5rem 2rem;
    margin-bottom: .5rem;
    background: #f0ebe1;

    &__heading {
        position: relative;
        padding-right: 8rem;
        color: $color-primary;
        font-weight: 500;
        font-size: 1.8rem;
        background: none;
    }

    &__content {
        max-height: 0;

        overflow: hidden;
        transition: .5s all;

        p {
            padding: 1rem 0;
            font-size: 1.4rem;
        }
    }

    &--open {
        .panel__content {
            max-height: fit-content;
            visibility: 1;
            opacity: 1;
            overflow: visible;
        }
    }
}

.collapse-bar {
    @include center(null, true);
    right: 3rem;
    display: inline-block;

    &--open {
        &::before {
            transform: rotate(180deg) !important;
        }

        // &::after {
        //     transform: rotate(-180deg);
        // }
    }

    &::after {
        position: absolute;
        width: 1.5rem;
        height: 0.2rem;
        content: '';
        background: $secondary;
        left: 0;
        border-radius: .5rem;
        transition: .5s all;
    }

    &::before {
        @extend .collapse-bar::after;
        transform: rotate(90deg);

    }
}