.btn {
    display: inline-block;
    padding: 1.2rem 4rem;
    font-weight: 600;
    color: $white;
    border: 0;
    text-transform: uppercase;

    &:focus {
        outline: 0;
    }

    &--primary {
        background: $color-primary;
    }

    &--secondary {
        background: $secondary;
    }
}